#text {
    cursor: pointer;
    cursor: pointer;
    width: 40px;
    height: 40px;
}


/* Over image effect */

.parent {
    position: relative;
}

.over-img {
    position: absolute;
    top: 0%;
    left: 2%;
}